*{
    margin:0;
    padding:0;
}
#outerProduct{
    height: 500px;
    margin: auto;  
    text-align: center;
    width: 50%;  
}
#outerProduct>select{
    border-radius: 10px;
    font-size: 20px;
    height: 40px;
    padding: 5px;
    width: 70%;
    margin-top: 20px;
}